{% extends "profile/index.html.twig" %}


{% block body %}


{{ parent() }}



        <hr>
        <div class="row">
            <h2 class="col-sm col-md-3 text-center">sent requests</h2>
            <br>
            <div class="col-sm">
                <table id="userTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead>
                    <tr>

                        <th class="th-sm">Requested Username

                        </th>
                        <th class="th-sm">Requested book

                        </th>
                        <th class="th-sm"> Available Book

                        </th>
                        <th class="th-sm">Exchange Date

                        </th>
                        <th class="th-sm">State</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% if mesdemandes is not empty %}

                        {% for demande in mesdemandes %}
                            <tr>

                                <td>{{ demande.requesteduser }} </td>
                                <td>{{ demande.requestedbook }}</td>
                                <td>{{ demande.availablebook }} </td>
                                <td>    </td>
                                <td>    </td>
                            </tr>

                        {% endfor %}
                    {% else %}
                        <tr>
                            <td  colspan="4">Ce livre n'est rattaché à aucune catégorie.</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>

        </div>
        <hr>


        <div class="row">
            <h2 class="col-sm col-md-3 text-center">recieved requests</h2>
            <div class="col-sm">
                <table id="followerTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead>
                    <tr>

                        <th class="th-sm">Requester Username</th>

                        <th class="th-sm">Requested book</th>

                        <th class="th-sm"> Available Book</th>

                        <th class="th-sm">Exchange Date </th>

                        <th class="th-sm">State</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% if mesreponses is not empty %}

                        {% for echange in mesreponses %}
                            <tr>
                                <td>{{ echange.requesteruser }} </td>
                                <td>{{ echange.requestedbook }}</td>
                                <td>{{ echange.availablebook }} </td>
                                <td></td>
                                <td></td>


                            </tr>

                        {% endfor %}
                    {% else %}
                        <tr>
                            <td  colspan="4">Ce livre n'est rattaché à aucune catégorie.</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}