{% extends 'base2.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    {{ parent() }}
<!-- Default form login -->
<form class="text-center border border-light p-5" method="post" style=" max-width: 70%;
;transform: translate(25%, 25%);">

   {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
      {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <p class="h4 mb-4">Sign in</p>

    <!-- Email -->
    <input type="inputUsername" id="inputUsername" class="form-control mb-4" placeholder="Username"
     value="{{ last_username }}" name="username">

    <!-- Password -->
    <input type="password" name="password" id="inputPassword" class="form-control mb-4" placeholder="Password" required>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <div class="d-flex justify-content-around">
        <div>
            <!-- Remember me -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" name="_remember_me" class="custom-control-input" 
                id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
            </div>
        </div>
        <div>
            <!-- Forgot password -->
            <a href="{{path('app_forgot_password_request')}}">Forgot password?</a>
        </div>
    </div>

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

    <!-- Register -->
    <p>Not a member?
        <a href="{{path('signup')}}">Register</a>
    </p>

    <!-- Social login -->
    <p>TO do: or sign in with:</p>

    <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>

</form>
{% endblock %}
