{% extends 'base2.html.twig' %}

{% block title %}Book Exchanger{% endblock %}

{% block body %}

<<<<<<< HEAD
    {{ parent() }}
<!-- Default form register -->
=======

>>>>>>> origin/souheil

{{ form_start(sign_up,{"attr":{"class":"text-center border border-light p-5","style":" max-width: 70%;
;transform: translate(25%, 25%);"}}) }}
{% if error is not empty %}
        <div class="alert alert-danger">
        {% for err in error %}
        {{ err.message }}
        {% endfor %}
        </div>
    {% endif %}  <p class="h4 mb-4">Sign up</p>
  <div class="form-row mb-4">
        <div class="col">
            <!-- First name -->
                {{ form_widget(sign_up.firstName,{"attr":{"class":"form-control","type":"text",
                "placeholder":"First name"}}) }}
        </div>
        <div class="col">
            <!-- Last name -->
            {{ form_widget(sign_up.lastName,{"attr":{"class":"form-control","type":"text",
                "placeholder":"Last name"}}) }}
        </div>
    </div>
     <!-- E-mail -->
     {{ form_widget(sign_up.email,{"attr":{"class":"form-control mb-4","type":"text",
                "placeholder":"E-mail"}}) }}
                <!-- Username -->
     {{ form_widget(sign_up.username,{"attr":{"class":"form-control mb-4","type":"text",
                "placeholder":"Username"}}) }}

    <!-- Password -->
    {{form_widget(sign_up.plainPassword,{"attr":{"class":"form-control","type":"password",
                "placeholder":"Password","aria-describedby":"defaultRegisterFormPasswordHelpBlock"}})}}
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        At least 8 characters, 1 uppercase character, 1 lowercase character and 1 digit
    </small>

    <!-- Phone number -->
        {{ form_widget(sign_up.phoneNumber,{"attr":{"class":"form-control",
                "placeholder":"Phone number","aria-describedby":"defaultRegisterFormPhoneHelpBlock"}}) }}
    <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
        Optional
    </small>

    <!-- Newsletter -->
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
        <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
    </div>

    <!-- Sign up button -->
    {{ form_widget(sign_up.save,{"label":"Sign Up",
    "attr":{"class":"btn btn-info my-4 btn-block","type":"submit"}}) }}

    <!-- Social register -->
    <p>or sign up with:</p>

    <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>

    <hr>

    <!-- Terms of service -->
    <p>By clicking
        <em>Sign up</em> you agree to our
        <a href="" target="_blank">terms of service</a>
    {{form_end(sign_up)}}
{% endblock %}
