{% extends 'base.html.twig' %}

{% block title %}Hello LivreController!{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset("node_modules/bootstrap/dist/css/bootstrap.css") }}">


    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/livre_style.css') }}">

{% endblock %}

{% block body %}

    {{ parent() }}

    <div >
    <img  id="b"  class="rounded img-responsive float-left img-thumbnail a "
         src="{{ extract(null) }}"
         alt=" image missing">
    <table  id="" class=" table-bordered border-danger a tab ">

        <tr size="20px">
            <th> name : </th>
            <td> {{ book.title }}</td>
        </tr>
        <tr>
            <th> description :</th>
            <td> {{ book.description }}</td>
        </tr>
        <tr>
            <th>auteur</th>
            <td> {{ book.author}} </td>
        </tr>
        <tr>
            <th>categorie </th>
            <td> {{ "book.catègorie"}} </td>
        </tr>
        <tr>
            <th>nombre des echanges</th>
            <td> {{ "book.nb_ech"}} </td>
        </tr>
        <tr>
            <th>nombre des pages </th>
            <td> {{ "book.nb_pages"}} </td>
        </tr>
        <tr>
            <th>Evaluation</th>
            <td> {{ "book.eval"}} </td>
        </tr>

    </table>
    </div>

    <div class="liste_possesseurs float-left">

    {{ render(controller('App\\Controller\\LivreController::lister', {"book":book } )) }}


    </div>

{% endblock %}
