<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/livre_style.css') }}">
</head>

<body>


<table id="" class="table-bordered tab ">
    <thead>
    <tr>
        <th colspan="4" align="left" height="50"> liste des possessers</th>
    </tr>
    <tr>
        <th>nom</th>
        <th>prenom</th>
        <th>rate</th>
        <th>adresse</th>
    </tr>
    </thead>
    <tbody>
    <tr>

        <a href=></a>

        {% if users is not empty %}

            {% for cat in users %}

                <td>{{ cat.getFirstName() }}</td>
                <td>{{ cat.getLastName() }} <i class="i-pc"></i></td>
                <td>{{ cat.getEmail() }}</td>
                <td class="tar">
                  <div>
                      <a href="{{ render(controll)}} >
                      <button class="button-">
                        </i> demander echange</a>
                    </button> </a> </div>
                    <button class="button-">
                        </i> voir profile </a>
                    </button>
                </td>

            {% endfor %}
        {% else %}
            <td>Ce livre n'est rattaché à aucune catégorie.</td>
        {% endif %}


    </tr>

    </tbody>
    <tfoot>

    <tr align="center">
        <td colspan="4">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </td>
    </tr>

    </tfoot>

</table>
<table class="table-bordered  tab">
    <thead>
    <tr>
        <th colspan="4" align="left" height="50"> liste d'attente</th>
    </tr>
    <tr>
        <th>nom</th>
        <th>prenom</th>
        <th>rate</th>
        <th>adresse</th>
    </tr>
    </thead>
    <tbody>
    <tr>


        {% if followers is not empty %}

        {% for foll in followers %}

        <td>{{ foll.getFirstName() }}</td>
        <td>{{ foll.getLastName() }} <i class="i-pc"></i></td>
        <td>{{ foll.getEmail() }}</td>
        <td class="tar"> <div>
                <button class="button-">
                    </i> demander echange</a>
                </button> </div>
            <button class="button-">
                </i> voir profile </a>
            </button>
        </td>

            {% endfor %}
        {% endif %}

    </tr>

    </tbody>
    <tfoot>

    <tr align="center">
        <td colspan="4">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </td>
    </tr>

    </tfoot>

</table>


<!-- testing -->


<div>
    <div class="mbox">
        <div class="hd pda bdb"><strong> similaire books </strong> <a
                    href="https://feta.egybest.rocks/movies/latest-bluray-2020-2019" class="left">more »</a></div>
        <div class="h_scroll">
            <span class="_scroll left i-ar-l"></span> <span class="_scroll right hide i-ar-r"></span>
            <div class="contents movies_small">

                <span class="_scroll right i-ar-r"></span>

            </div>
        </div>
    </div>
</div>


<div class="card-deck">


    <a href="https://feta.egybest.rocks/movie/bride-of-scarecrow-2018/?ref=home-bluray" class="movie">
    <div class="card">
        <img class="card-img-top" src="//pic.egybest.net/i/RHNhSUNlY21URW1wWUVtTGNFY2FteGptdm1qbUlhdmM.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Bride of Scarecrow (2018)</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    </a>

    <a href="#" class="movie">
    <div class="card">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQZajAIQV-BxQDPl5jrf0Ir3wnJ93kf54P1WbtwnnwNCvPgncJu&usqp=CAU" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">The Glorious Seven (2019)</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    </a>

    <a href="https://www.google.com">
    <div class="card">
        <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0176/9202/products/Sea_Salt_e4f97e1e-08df-4a1a-a42e-fc507db766ea_grande.jpg?v=1586440065" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">the book </h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

    </a>
</div>




</body>

</html>