<!DOCTYPE html>
<html  lang="fr">
    <head>
        <meta charset="UTF-8">        
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('node_modules/datatables/media/css/jquery.dataTables.css') }}">
            <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('node_modules/font-awesome/css/font-awesome.css') }}">
            <link rel="stylesheet" href="{{ asset('node_modules/mdbootstrap/css/mdb.css') }}">
                    <link rel="stylesheet" 
            href="{{ asset('node_modules/mdbootstrap/addons/datatables.min.css') }}">
            <link rel="stylesheet" 
            href="{{ asset('node_modules/mdbootstrap/css/addons/datatables-select.min.css') }}">



        {% endblock %}
    </head>
    <body>
        {% block body %}

            <div style="margin-bottom:80px">

                <nav  class="navbar navbar-inverse navbar-expand navbar-light fixed-top bg-light ">

                    <div class="container-fluid">
                        <div class="navbar-brand">
                            <a class="navbar-brand" href="#">Book Exchanger</a>
                        </div>



                        <form class="form-inline" action="{{ path('search') }}">
                            <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>


                        <ul class="nav navbar-nav">
                            <li class="active mr-lg-2 mr-sm-1">
                                <a href="{{ path('acc') }}">                 
                                        <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                                </a></li>

                            <li class="mr-lg-2 mr-sm-1" ><a href="{{ path('profile') }}">
                                <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                        </a></li>

                            <li class="mr-lg-2 mr-sm-1"><a href="{{ path('meslivres')}}">
                            
                                <i class="fa fa-book fa-2x" aria-hidden="true"></i> </a>
                            </li>


                            <li class="mr-lg-2 mr-sm-1">
                             <i class="fa fa-cog fa-2x" aria-hidden="true"></i></li>


                        </ul>


                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ path('app_logout') }}"> <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i> </a></li>

                        </ul>
                    </div>


                </nav>

            </div>
        {% endblock %}
        {% block javascripts %}
        <script src="{{ asset('node_modules/jquery/dist/jquery.js') }}">
        </script>
        <script src="{{ asset('node_modules/popper.js/dist/popper.js') }}">
        </script>
        <script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.js') }}">
        </script>
         <script src="{{ asset('node_modules/mdbootstrap/js/mdb.js') }}">
        </script>
          <script src="{{ asset('node_modules/mdbootstrap/js/addons/datatables.min.js') }}">
        </script>
         <script src="{{ asset('node_modules/mdbootstrap/js/addons/datables-select.min.js') }}">
        </script>
        <script src="{{ asset('node_modules/ajax/lib/ajax.js') }}">
        </script>
{% endblock %}
    </body>     
    </html>
