<!DOCTYPE html>
<html  lang="fr">
    <head>
        <meta charset="UTF-8">
        <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('style1.css')}}">
        
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

            <link rel="stylesheet" href="{{ asset("node_modules/bootstrap/dist/css/bootstrap.css") }}">
            <link rel="stylesheet" href="{{ asset('base_syle.css') }}">
            <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/js/bootstrap.js') }}">
            <link rel="stylesheet" href="{{ asset('node_modules/font-awesome/css/font-awesome.css') }}">




        {% endblock %}
    </head>
    <body>


    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">Book Exchanger</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>


    <div id="page-container">
        <div id="conten-wrap">

            {% block body %}



            {% endblock %}

        </div>
    </div>




    <footer class="footer-distributed">
        <div class="footer-left">
            <h2 > book <span>exchanger</span></h2>
            <br>
            <a href="" >report bug</a>
            <p class="footer-company-name">INSATGL2 &copy; 2020</p>
        </div>
        <div class="footer-center">
            <p><span>si vous avez des questions veuillez contacter :</span></p>
            <ul>
                <li> <a href="https://www.facebook.com/rami.zouari.7">Rami Zouari</a></li>
                <li> <a href="https://www.facebook.com/souheil.benslama">Souheil Ben Slama</a></li>
                <li> <a href="https://www.facebook.com/profile.php?id=100013679042167">Wissem Ben Daly</a></li>

            </ul>
        </div>
        <div class="footer-right">

            <p class="footer-about">

                BOOK EXCHANGER est un site web qui organise les echange de livres entre les utilisateurs.
            </p>
        </div>
    </footer>

        {% block javascripts %}{% endblock %}
    </body>     
    </html>
